body {
    background: linear-gradient(90deg, #0000FD 0%, #000000 100%);
}

nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: #d0dad7;
}

.navbar-brand img{
    width: 40px;
}

.navbar-toggler {
    background-color: #d0dad7;
}

.sidebar {
    color: aquamarine;
     background: linear-gradient(270deg, #0000FD 0%, #000000 100%);

}