.navbar {
    display: flex;
    background-color: #525151;
}

.nav-list {
    display: flex;
}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
}

.nav-list a:hover {
    background-color: #2d2d2d;
}

.nav-btn {
    display: none;
}



@media (max-width: 1000px) {
    .nav-btn {
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 3px;
        border: none;
        background-color: #525151;
        color: white;
        display: block;
        cursor: pointer;
    }
    .nav-list {
        display: none;
    }

    .nav-btn:hover {
        background-color: #525151;
    }

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 0em;
        background-color: #525151;
    }
    .navbar {
        justify-content: space-between;
    }
}