span {
    font-style: italic;
}

p {
    background-color: lightgreen;
    font-size: 24px;
    display: inline;
}

.container {
    text-align: center;
    display: inline;
    width: 500px;
    background-color: darkgrey;
}
